html, body {
  height: 100%;
  width: 100%;
  background-color: #23395d;
}

#homepage {
  float: right;
  padding: 250px;
  text-align: center;
  color: white;
  font-family: "Courier New", monospace;
}


h1 {
  font-size: 40px;
}

a{
  color: white;
  font-size: 30px;
}

.box{
  height: 500px;
  float: right;
}

#openingimg{
  text-align: center;
}